<!DOCTYPE html>
<html>
<head>
    <title>LocustHazard</title>
    <link rel="stylesheet" type="text/css" href="./static/style.css?v={{ version }}" media="all">
    <link rel="shortcut icon" href="./static/img/favicon.ico" type="image/x-icon"/>
</head>
<body class="{{state}}">
<div class="top">
    <div class="top-content container">
        <img src="./static/img/logo.png?v={{ version }}" class="logo"/>
        <div class="boxes">
            <div class="top_box box_url">
                <div class="label">域名</div>
                <div class="value" id="host_url">
                    {{ host or "" }}
                </div>
            </div>
            <div class="top_box box_status">
                <div class="label">状态</div>
                <div class="value" id="status_text">
                    {{state}}
                </div>
                <div class="user_count">
                    <span id="userCount">{{user_count}}</span>用户数
                </div>
                <a href="#" class="new_test" id="new_test">新的测试</a>
                <a href="#" class="edit_test">修改</a>
            </div>
            <div class="top_box box_workers" id="box_slaves">
                <div class="label">压力机数</div>
                <div class="value" id="slaveCount">{{slave_count}}</div>
            </div>
            <div class="top_box box_workers" id="box_workers">
                <div class="label">WORKER数</div>
                <div class="value" id="workerCount">{{worker_count}}</div>
            </div>
            <div class="top_box box_rps box_running" id="box_rps">
                <div class="label">RPS</div>
                <div class="value" id="total_rps">0</div>
            </div>
            <div class="top_box box_fail box_running" id="box_fail">
                <div class="label">失败</div>
                <div class="value"><span id="fail_ratio"></span>%</div>
            </div>
            <div class="top_box box_stop box_running" id="box_stop">
                <a href="./stop" class="stop-button"><i></i>停止</a>
            </div>
            <div class="top_box">
                <a href="./stats/reset" class="reset-button">重置<br/>统计</a>
            </div>
        </div>
        <div style="clear:both;"></div>
    </div>
</div>

<div class="main">
    <div class="start" id="start">
        <div style="position:relative;">
            <a href="#" class="close_link">关闭</a>
        </div>
        <div class="padder">
            <h2>开始新的测试</h2>
            <form action="./swarm" method="POST" id="swarm_form">
                <label for="user_count">模拟的总用户数</label>
                <input type="text" name="user_count" id="user_count" class="val" value="{{ num_users or "" }}"/><br>
                <label for="hatch_rate">孵化率<span style="color:#8a8a8a;">(每秒增加用户数,可小数)</span></label>
                <input type="text" name="hatch_rate" id="hatch_rate" class="val" value="{{ hatch_rate or "" }}"/><br>
                <label for="host">
                    域名 <span style="color:#8a8a8a;">(e.g. http://www.example.com)</span>
                    {% if override_host_warning %}
                    <span style="color:#8a8a8a; font-size:12px;">(setting this will override the host on all User classes)</span></label>
                {% endif %}
                </label>
                <input type="text" name="host" id="host" class="val" autocapitalize="off" autocorrect="off"
                       value="{{ host  or "" }}"/><br>
                {% if is_step_load %}
                <label for="step_user_count">每步增加的用户数</label>
                <input type="text" name="step_user_count" id="step_user_count" class="val" value="{{ step_users or ""
                }}"/><br>
                <label for="step_duration">每步持续时间<span
                        style="color:#8a8a8a;">(300s, 20m, 3h, 1h30m, etc.)</span></label>
                <input type="text" name="step_duration" id="step_duration" class="val" value="{{ step_time or ""
                }}"/><br>
                {% endif %}
                <label for="run_time1">运行时间<span style="color:#8a8a8a;">(300s, 20m, 3h, 1h30m, etc.)</span></label>
                <input type="text" id="run_time1" class="val" name="run_time"><br>
                <button type="submit">启动</button>
            </form>
            <div style="clear:right;"></div>
        </div>
    </div>

    <div class="edit" id="edit">
        <div style="position:relative;">
            <a href="#" class="close_link">关闭</a>
        </div>
        <div class="padder">
            <h2>修改locust数量</h2>
            <form action="./swarm" method="POST" id="edit_form">
                <label for="new_user_count">模拟的总用户数</label>
                <input type="text" name="user_count" id="new_user_count" class="val" value="{{ num_users or "" }}"/><br>
                <label for="hatch_rate">孵化率<span style="color:#8a8a8a;">(每秒增加用户数,可小数)</span></label>
                <input type="text" name="hatch_rate" id="new_hatch_rate" class="val" value="{{ hatch_rate or ""
                }}"/><br>
                {% if is_step_load %}
                <label for="step_user_count">每步增加的用户数</label>
                <input type="text" name="step_user_count" id="step_user_count" class="val" value="{{ step_users or ""
                }}"/><br>
                <label for="step_duration">每步持续时间<span
                        style="color:#8a8a8a;">(300s, 20m, 3h, 1h30m, etc.)</span></label>
                <input type="text" name="step_duration" id="step_duration" class="val" value="{{ step_time or ""
                }}"/><br>
                {% endif %}
                <label for="run_time2">运行时间<span style="color:#8a8a8a;">(300s, 20m, 3h, 1h30m, etc.)</span></label>
                <input type="text" id="run_time2" class="val" name="run_time"><br>
                <button type="submit">启动</button>
            </form>
            <div style="clear:right;"></div>
        </div>
    </div>

    <div class="status" id="status">
        <nav class="menu">
            <ul class="tabs container">
                <li><a href="#">事务管理</a></li>
                <li><a href="#">压测机管理</a></li>
                <li><a href="#" class="chart-tab-link">实时/统计情况</a></li>
                <li><a href="#">失败情况</a></li>
                <li><a href="#">异常情况</a></li>
                <li><a href="#">下载数据</a></li>
            </ul>
        </nav>
        <div class="panes container">
            <div id="transcation">
                <iframe style="width:100%; background-color:white" frameborder="0" id="ifm_transcation"
                        src="/importedTrans?from_save=1" scrolling="no" onload="this.height=200"></iframe>
            </div>
            <div id="worker" style="display:none;">
                <p class="note">可以下载此<a href="/download_boomer" style="color:red">windows可执行文件</a>|
                    <a href="/download_boomer_linux" style="color:red">linux可执行文件</a>成为压测机(worker)
                    CMD命令：<font
                        color="yellow">boomerHazardServer -EtcdAddr etcd的ip:2379 [-Host 压测机(worker)的ip] [-Port 3000]</font></p>
                <div style="text-align: center"><h3>已使用压测机(Worker)情况</h3></div>
                <table id="workers">
                    <thead>
                    <tr>
                        <th class="stats_label" href="#" data-sortkey="id">WorkerId</th>
                        <th class="stats_label" href="#" data-sortkey="state">状态</th>
                        <th class="stats_label numeric" href="#" data-sortkey="user_count"
                            title="Number of users on this worker">#用户数
                        </th>
                        <th class="stats_label numeric" href="#" data-sortkey="cpu_usage" title="CPU usage of process">
                            CPU使用情况
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
                <br/>
                <br/>
                <div style="text-align: center"><h3>可供使用压测机列表</h3></div>
                <table id="slaves">
                    <thead>
                    <tr>
                        <th class="stats_label" href="#" data-sortkey="slave">压测机(<font color="yellow">长期不用请重置</font>)
                        </th>
                        <th class="stats_label" href="#" data-sortkey="clientId">WorkerId</th>
                        <th class="stats_label" href="#" data-sortkey="rectMsg">最近消息</th>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
                <br/>
                <div class="boomer">
                    <button id="stopBoomer" style="margin-left:10px; background: white">全部重置</button>
                    <button id="initBoomer" style="background: bisque" title="提交事务前请确保对应机器非就绪状态">提交事务</button>
                </div>
                <p class="note">注意：<font color="yellow">提交事务</font>前请确保对应机器<font color="yellow">非使用</font>状态；更换新的事务需<font color="yellow">先重置</font>，再提交</p>
            </div>
            <div style="display:none;" id="report">
                <div style="float:right; margin:0 10px 10px 0; "><a href="./stats/report" target="_blank" id="saveReport" style="color:yellow !important; ">下载报告快照</a></div>
                <table id="stats" class="stats">
                    <thead>
                    <tr>
                        <th class="stats_label" href="#" data-sortkey="method">类型</th>
                        <th class="stats_label" href="#" data-sortkey="name">名称</th>
                        <th class="stats_label numeric nowrap" href="#" data-sortkey="num_requests"
                            title="Number of successful requests">#请求数
                        </th>
                        <th class="stats_label numeric nowrap" href="#" data-sortkey="num_failures"
                            title="Number of failures">#失败数
                        </th>
                        <th class="stats_label numeric" href="#" data-sortkey="median_response_time"
                            title="Median response time">中位响应时间(ms)
                        </th>
                        <th class="stats_label numeric" href="#" data-sortkey="ninetieth_response_time"
                            title="Ninetieth percentile response time, because the response time greater than 100ms is rounded, you may see it greater than the max response time">
                            90%ile (ms)
                        </th>
                        <th class="stats_label numeric" href="#" data-sortkey="avg_response_time"
                            title="Average response time">平均响应时间(ms)
                        </th>
                        <th class="stats_label numeric" href="#" data-sortkey="min_response_time"
                            title="Min response time">最小响应时间(ms)
                        </th>
                        <th class="stats_label numeric" href="#" data-sortkey="max_response_time"
                            title="Max response time">最大响应时间(ms)
                        </th>
                        <th class="stats_label numeric" href="#" data-sortkey="avg_content_length"
                            title="Average response size">平均大小(bytes)
                        </th>
                        <th class="stats_label numeric" href="#" data-sortkey="current_rps"
                            title="Current number of requests per second">当前RPS
                        </th>
                        <th class="stats_label numeric" href="#" data-sortkey="current_fail_per_sec"
                            title="Current number of failures per second">当前每秒失败数
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
                <br/>
                <div id="charts" >
                    <div class="charts-container"></div>
                    <p class="note">注意：这些图表没有持久性，如果刷新此页面，将创建新的图表。</p>
                </div>
            </div>

            <div style="display:none;">
                <table id="errors" class="stats">
                    <thead>
                    <th class="error_count stats_label" data-sortkey="1">#失败数</th>
                    <th class="stats_label" href="#" data-sortkey="method">Method</th>
                    <th class="stats_label" href="#" data-sortkey="name">名称</th>
                    <th class="error_type stats_label" data-sortkey="0">类型</th>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
            <div style="display:none;">
                <table id="exceptions" class="stats">
                    <thead>
                    <th class="exception_occurrences stats_label" data-sortkey="1">#异常发生数</th>
                    <th class="exception_traceback stats_label" data-sortkey="0">异常Traceback</th>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
            <div style="display:none;">
                <div style="margin-top:20px;">
                    <a href="./stats/requests/csv">下载请求统计的CSV文件</a><br>
                    <a href="./stats/failures/csv">下载失败的CSV文件</a><br>
                    <a href="./exceptions/csv">下载异常的CSV文件</a>
                </div>
            </div>
        </div>
    </div>
    <div class="help" style="display:none;">
        <div style="position:relative;">
            <a href="#" class="close_link">关闭</a>
        </div>
        <div class="padder">
            <h1>帮助</h1>
            <p>
                <font color="yellow">基本步骤1：</font>新建测试事务，保存-->压测机管理：
                下载压测机可执行程序，执行-->重置+更新事务-->新的测试，启动
            </p>
            <p>
                <font color="yellow">基本步骤2：</font>导入测试事务，保存-->压测机管理：
                下载压测机可执行程序，执行-->压测机管理：重置+更新事务-->新的测试，启动
            </p>
            <p>
                <font color="yellow">备份：</font>新建测试事务，备份/导入测试事务，修改，备份.
            </p>
            <p>
                <font color="yellow">全局设置：</font>全局session则标识所有测试事务基于同一个cookieJar。
                全局前置处理影响所有的事务，设置的参数，可用于之后的各个事务中。
                这里只会运行一次，所以在全局设置中随机取值意义不大。
            </p>
            <p>
                <font color="yellow">事务内前置处理：</font>事务内前置处理只影响当前的事务，比如设置的参数只能应用于当前事务。
                这里设置随机取值会每次运行变化。
            </p>
            <p>
                <font color="yellow">停止测试：</font>可开始测试前设置执行时间，也可以不设置--这种情况下需手动停止
            </p>
            <p>
                <font color="yellow">使用建议1：</font>执行压测机命令后，可在压测机管理中检查是否已经注册上，然后再进行选择需要的压测机进行测试。
            </p>
            <p>
                <font color="yellow">使用建议2：</font>进行新的事物测试，先需要重置所有压测机然后进行选择对应压测机进行事务更新。
            </p>
            <p>
                <font color="yellow">使用建议3：</font>每次测试完成后，如有用，请先拷贝/下载/截图统计情况及实时图，然后再进行新一轮的测试。
                主要是为了做性能分析及报告有用。
            </p>
        </div>
    </div>

    <div class="about" style="display:none;">
        <div style="position:relative;">
            <a href="#" class="close_link">关闭</a>
        </div>
        <div class="padder">
            <h1>About</h1>
            <p>
                基于原版locust-1.2.3修改，变成了http(s)的通用的接口压力测试平台。
                前端页面增加了友好的http(s)接口维护、保存、导入功能。
                master端以原版的locust核心不变，拷贝原版的WEBUI部分进行改造和汉化。
                slave端基于boomer核心进行改造，改为使用gRPC服务进行压力测试任务的初始化、关闭并基于etcd做服务发现。
                非改动部分的代码版权属于原locust、boomer开发者所有。
                By Joy Mao,2020
            </p>
            <h1>以下是原版声明</h1>
            <p>
                The original idea for Locust was Carl Byström's who made a first proof of concept in June 2010.
                Jonatan Heyman picked up Locust in January 2011, implemented the current concept of Locust classes
                and made it work distributed across multiple machines.
                Jonatan, Carl and Joakim Hamrén has continued the development of Locust at their job,
                ESN Social Software, who have adopted Locust as an inhouse Open Source project.
            </p>

            <h3>Authors and Copyright</h3>
            <a href="http://cgbystrom.com/">Carl Byström</a> (<a
                href="https://twitter.com/cgbystrom/">@cgbystrom</a>)<br>
            <a href="http://heyman.info/">Jonatan Heyman</a> (<a href="https://twitter.com/jonatanheyman/">@jonatanheyman</a>)<br>
            Joakim Hamrén (<a href="https://twitter.com/Jahaaja/">@jahaaja</a>)<br>
            <a href="http://esn.me/">ESN Social Software</a> (<a
                href="https://twitter.com/uprise_ea/">@uprise_ea</a>)<br>
            Hugo Heyman (<a href="https://twitter.com/hugoheyman/">@hugoheyman</a>)


            <h3>License</h3>
            Open source licensed under the MIT license.

            <h4>Version <a href="https://github.com/locustio/locust/releases/tag/{{version}}">{{version}}</a></h4>
            <br>
            <a href="https://locust.io/">https://locust.io</a>
        </div>
    </div>
</div>
<nav class="footer">
    <div class="container">
        <a href="#" onclick="$('.help').fadeIn();">帮助</a>
        <a href="#" onclick="$('.about').fadeIn();">About</a>
    </div>
</nav>

<script type="text/javascript" src="./static/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="./static/jquery.jqote2.min.js"></script>
<script type="text/javascript" src="./static/jquery.tools.min.js"></script>
<!-- echarts from https://github.com/ecomfe/echarts -->
<script type="text/javascript" src="./static/echarts.common.min.js"></script>
<!-- vintage theme of echarts -->
<script type="text/javascript" src="./static/vintage.js"></script>
<script type="text/javascript" src="./static/layui/layui.all.js"></script>
<script type="text/x-jqote-template" id="stats-template">
    <![CDATA[
    <tr class="<%=(alternate ? " dark" : "")%> <%=(this.is_aggregated ? "total" : "")%>">
    <td><%= (this.method ? this.method : "") %></td>
    <td class="name" title="<%= this.name %>"><%= this.safe_name %></td>
    <td class="numeric"><%= this.num_requests %></td>
    <td class="numeric"><%= this.num_failures %></td>
    <td class="numeric"><%= Math.round(this.median_response_time) %></td>
    <td class="numeric"><%= Math.round(this.ninetieth_response_time) %></td>
    <td class="numeric"><%= Math.round(this.avg_response_time) %></td>
    <td class="numeric"><%= this.min_response_time %></td>
    <td class="numeric"><%= this.max_response_time %></td>
    <td class="numeric"><%= Math.round(this.avg_content_length) %></td>
    <td class="numeric"><%= Math.round(this.current_rps*100)/100 %></td>
    <td class="numeric"><%= Math.round(this.current_fail_per_sec*100)/100 %></td>
    </tr>
    <% alternate = !alternate; %>
    ]]>
</script>
<script type="text/x-jqote-template" id="errors-template">
    <![CDATA[
    <tr class="<%=(alternate ? " dark" : "")%>">
    <td><%= this.occurrences %></td>
    <td><%= this.method %></td>
    <td><%= this.name %></td>
    <td><%= function(e) { return e.replace("<", "&lt;"); }(this.error) %></td>
    </tr>
    <% alternate = !alternate; %>
    ]]>
</script>
<script type="text/x-jqote-template" id="exceptions-template">
    <![CDATA[
    <tr class="<%=(alternate ? " dark" : "")%>">
    <td class="occurrences"><%= this.count %></td>
    <td class="traceback" title="Occured on: <%= this.nodes %>"><%= function(e) { return e.replace("<", "&lt;");
        }(this.traceback) %>
        <%= function(e) { return e.replace("<", "&lt;"); }(this.msg) %>
    </td>
    </tr>
    <% alternate = !alternate; %>
    ]]>
</script>
<script type="text/x-jqote-template" id="worker-template">
    <![CDATA[
    <tr class="<%=(alternate ? " dark" : "")%> <%=(this.name == "Total" ? "total" : "")%>">
    <td><%= this.id %></td>
    <td><%= this.state %></td>
    <td class="numeric"><%= this.user_count %></td>
    <td class="numeric"><%= this.cpu_usage %>%</td>
    </tr>
    <% alternate = !alternate; %>
    ]]>
</script>
<script type="text/x-jqote-template" id="slave-template">
    <![CDATA[
    <tr class="<%=(alternate ? " dark" : "")%> <%=(this.name == "Total" ? "total" : "")%>">
    <td><%= this.slave %></td>
    <td><%= (this.clientId )%></td>
    <td><%= this.rectMsg %></td>
    </tr>
    <% alternate = !alternate; %>
    ]]>
</script>
<script type="text/javascript" src="./static/chart.js?v={{ version }}"></script>
<script type="text/javascript" src="./static/locust.js?v={{ version }}"></script>
</body>
</html>
